<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <!-- linux 环境下日志没发编译或者转换 -->
                <!--%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} %clr([${PID:- }]){magenta} %clr([%t]){yellow} %clr(%F){blue} %clr([%L]){magenta} %clr(:){blue} %clr(%msg){blue} %n-->
                %d [${PID:-}] [%t] %F [%L] : %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d [${PID:-}] [%t] %F [%L] : %msg%n
                <!--%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} %clr([${PID:- }]){magenta} %clr([%t]){yellow} %clr(%F){blue} %clr([%L]){magenta} %clr(:){blue} %clr(%msg){blue} %n-->
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/info/info_%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <appender name="fileWarnLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>
                %d [${PID:-}] [%t] %F [%L] : %msg%n
                <!--%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} %clr([${PID:- }]){magenta} %clr([%t]){yellow} %clr(%F){blue} %clr([%L]){magenta} %clr(:){blue} %clr(%msg){blue} %n-->
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/warn/warn_%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d [${PID:-}] [%t] %F [%L] : %msg%n
                <!--%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} %clr([${PID:- }]){magenta} %clr([%t]){yellow} %clr(%F){blue} %clr([%L]){magenta} %clr(:){blue} %clr(%msg){blue} %n-->
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/error/error_%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileWarnLog" />
        <appender-ref ref="fileErrorLog" />
    </root>

</configuration>